{% extends "qrt/base.html" %}

{% block title %}
Homepage
{% endblock %}


{% block body %}
<!--Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
    <a class="navbar-brand" href="#">Being quarantined</a>
    <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
  </nav>

<!--Carousel start-->
<div class="jumbotron text-center jumbotron_main">
  <div class="container">
    <h1 class="display-4">Self isolation is hard but needed</h1>
    <p class="lead">Just press the button to "travel" to different websites and expore the world</p>
    <a class="btn btn-primary btn-lg btn-light" href="#" role="button">Suprise me!</a>
  </div>
</div>


{% endblock %}