*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #83bdf7;
}

.container{
    margin-top: 30px;
}

.jumbotron_main{
    margin: 0px;
    background-color: #83bdf7;
}

.btn-primary{
    margin-top: 40px;
}

.lead{
    margin-top: 30px;
}